/* CSS Document */
<!--
#lLine{width:10px; margin:5px 3px; position:relative; height:584px;float:left;border:0px solid #00EC00;background:#96C2F1;}
#article{width:784px; margin:10px 3px; position:relative; height:575px;float:left;border:1px solid #977C00;background:#fdfdfd;text-align:left} 
#rLine{width:10px;margin:5px 3px;position:relative; height:584px;float:left;border:0px solid #00EC00;background:#96C2F1;}

-->

