@charset "utf-8";
/* CSS Document */

.content{
	width:1024px;
	margin:0 auto
}

.l10{
	margin-left:10px;

}
#content .info{
	width:300px;
	margin:0 auto;
	height:347px;
	float:left;
	border:0px solid silver;
}
/*海报*/
#content .poster{
	border: 5px solid #9D9D9D;
    float: left;
    height: 347px;
    margin: 0 auto;
    width: 703px;
}

#content .poster  .item{
	
    height: 347px;
   
}

#content .poster  .item img{
	
    height: 347px;
	width:703px;
   
}

.box{
	height: 343px; 
	overflow:hidden; 
	border:2px solid #ffffff
}

.box #bt6{
left:30px;top:325px;width:%;height:%;z-index:1;font-family:"宋体";font-size:14px;font-weight:bold;color:#ffffff;}
/*信息索取定义*/		
#inquires0 {left:0px;top:0px;width:300px;height:25px;z-index:1;background-color:#96C2F1;}
#bt1{left:5px;top:6px;width:%;height:%;z-index:1;font-family: "宋体";font-size:14px;font-weight:bold;color:#ffffff;}
#inquires1 {left:0px;top:25px;width:76px;height:35px;z-index:2;}
#inquires2 {left:0px;top:321px;width:300px;height:25px;z-index:1;background-color:#ffffff;}
#bt2{left:30px;top:7px;width:%;height:%;z-index:1;font-family:"宋体";font-size:12px;font-weight:bold;cursor:pointer;}
 .tabT{width:90px;float:left;padding:0;margin:0px;background:#FAF4FF;height:286px;border-style:solid;border-width:0px 1px 1px 0px;border-color:#FCFCFC;font-family: "宋体";font-size: 14px}
 .tab,.tab li{padding:0;margin:0;border:none}
 .tab{height:23px;display:block;}
 .tab li{display:block;height:18px;line-height:18px;padding:10px 2px;text-align:center;cursor:default;}
 .tab li.current{display:block;color:;background-color:#F0FFF0;border-right:1px solid #FCFCFC;border-left:0px solid #FCFCFC;border-top:1px solid #FCFCFC;border-bottom:1px solid #FCFCFC;padding:10px 1px;width:89px;}
 .show,hidden{float:left;width:209px;margin-top:0px;border-style:solid;border-width:1px 0px 1px 0px;border-color:#FCFCFC;text-align:left;height:285px;background:#F0FFF0;}
 .hidden{display:none;}
 .show{display:block;}
 .con{padding:10px;font-family: "宋体";font-size: 12px;}
#getId{width:310px;background:#fdfdfd;} 
#getId a{text-decoration:none;color:#000;font-weight:normal}
#getId a:hover{text-decoration:none;color:blue;}

