#slides{
	clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
.scroimg{
	clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}