div.form
{
}

div.form input,
div.form textarea,
div.form select
{
	margin: 0.2em 0 0.5em 0;
}

div.form fieldset
{
	border: 1px solid #DDD;
	padding: 10px;
	margin: 0 0 10px 0;
    -moz-border-radius:7px;
}

div.form label
{
	font-weight: bold;
	
	
        float: left;
      
      line-height: 30px;
        padding-right: 10px;
} 
div.form tr label
{
	
	
	display: block;
      
      
        text-align: right;
        
        
}

div.form .row
{
	
        overflow: hidden;
       
}

div.form .hint
{
	margin: 0;
	padding: 0;
	color: #999;
}

div.form .note
{
	font-style: italic;
}

div.form span.required
{
	color: red;

}

div.form div.error label:first-child,
div.form label.error,
div.form span.error
{
	color: #C00;
}

div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error
{
	background: #FEE;
	border-color: #C00;
}

div.form div.success input,
div.form div.success textarea,
div.form div.success select,
div.form input.success,
div.form textarea.success,
div.form select.success
{
	background: #E6EFC2;
	border-color: #C6D880;
}


div.form .errorSummary
{
	border: 2px solid #C00;
	padding: 7px 7px 12px 7px;
	margin: 0 0 20px 0;
	background: #FEE;
	font-size: 0.9em;
}

div.form .errorMessage
{
	color: red;
	font-size: 1em;
        float: left;
        line-height: 28px;
         padding-left: 10px;
}
div.form input ,div.form select,div.form textarea{
    float: left;
}
div.form .errorSummary p
{
	margin: 0;
	padding: 5px;
}

div.form .errorSummary ul
{
	margin: 0;
	padding: 0 0 0 20px;
}

div.wide.form label
{
	float: left;
	margin-right: 10px;
	position: relative;
	text-align: right;
	width: 100px;
}

div.wide.form .row
{
	clear: left;
}

div.wide.form .buttons, div.wide.form .hint, div.wide.form .errorMessage
{
	clear: left;
	padding-left: 110px;
}




.table thead tr.title th{
	background:#dbe6f3;
	line-height:25px;
	height:25px;

}

.table_list a {
	

    color: #000000;


}
.table_list thead tr{
	line-height:24px;
	background: url(../images/ico/table/thead.gif);

}
.table_list thead th a{
	color:#000000;
	text-decoration:none;
	display:block;
	height:24px;
}
.table_list thead th a.acs,.table_list thead th a.desc {
	background:url(../images/ico/table/order.gif) no-repeat right top;
}
.table_list thead th a.acs {
	background-position: right -24px;
}
.table_list thead th a.desc {
	background-position:right 0px;
}

.table_list thead th,.table_list tbody th,.table_list tbody td,.table_list tfoot th,
.table_form thead th,.table_form tbody th,.table_form tbody td,.table_form tfoot th
{
	padding:2px 10px;
	height:24px;
	border:1px solid #C6D8EC;
}
.table_list thead th {
	padding:0 0 0 10px;
}
.table_form tbody th {
	text-align:right;
	padding:0px 5px;

	font-weight:bold;

}
.table_form tbody th,.table_form tbody td,.table_list tbody th,.table_list tbody td{
	height:30px;
	line-height:30px;
}
.table_form tbody th,.table_form tbody td input,.table_list tbody td input {
	border:1px solid #C6D8EC;
	height:	24px;
}
.table_form tbody td input[type="radio"],.table_list tbody td input[type="radio"],.table_form tbody td input[type="checkbox"],.table_list tbody td input[type="checkbox"] {
	height:auto;
	border:none;
	float:none;

}

.table_form textarea{

}
.table_list tbody tr,.table_form tbody tr {
	background:#FFF;
}
.table_list tr.select{
	background:#f8e2e2
}
.table_list tr.hover {
	background:#efefef
}
.table_list tfoot td {
	text-align:right;
	padding-right:10px;
}

.table_form tfoot td {
	background:#FFF;
	border:1px solid #C6D8EC;
	border-top:none;
	padding:5px;
}
.table_list img, .table_form img{
	vertical-align: middle;
}
.table_form .tip,.table_form input{
	float:left;
}
.table_form .tip{
	line-height:24px;
	margin-left:10px !important;
	
}
.table_form .tip .onFocus_top, .table_form .tip .onError_top{
	padding:0 10px 0px 40px;
}

/* 图片按比例缩小放大 */
.thumbimage {
    max-width: 150px;
    max-height: 150px;
	width: expression(this.width > 150 && this.width > this.height ? 150 : true);
    height: expresion(this.height > 150 ? 50 : true);
}

/* 图片按比例缩小放大 */
.thumbimage_100 img{
    max-width: 100px;
    max-height: 100px;
	width: expression(this.width > 100 && this.width > this.height ? 100 : true);
    height: expresion(this.height > 100 ? 50 : true);
}

#Users_type label,#Users_state label{
	float: none;
	display: inline;
}