/* CSS north */
.ui-layout-south{
	padding:0px;
	text-align:center;
	border-top: 1px solid #94B2D9;
	background:none;
}
.ui-layout-west {
	
	border:none;
	border-top:none;
	padding-left:5px;
}
.ui-layout-south .topBut{
	border:none;
	padding-top:5px;
	margin:0px;
	
}
.ui-layout-center {
	background:#fff;
	padding:0 1px 0 0;
}
.left_menu_accordion_menu_item a {
	text-decoration:none !important;
}
.left_menu_accordion_menu_item a:hover{
	text-decoration:none;
}
.selectList {
	display:none;
}

#productsList .select_spec_val{
	border:1px solid #C6D8EC;
	float:left;
	padding:0 5px;
	line-height:20px;

}
#productsList .select_spec_val_img{
	padding:0px;
	
}
#productsList .select_spec_val span,#productsList .select_spec_val li{
	cursor:pointer;
}
#productsList .select_spec_val {
	position:relative;
	
}
#productsList .select_spec_val ul {
	position:absolute;
	width:240px;
	background:#fff;
	border:1px solid #C6D8EC;
	top:15px;
	z-index:999;
}
#productsList .select_spec_val li{
	border:1px solid #C6D8EC;
	float:left;
	padding:0 5px;
	line-height:20px;
	margin: 5px;
}
#productsList .spec_val_input{
	display:none;
}
#productsList .select_spec_val li.val_img_li {
	padding:0px;
}

#piclist {
	padding:10px;
	
}
#piclist li{
	float:left;
	width:150px;
	height:150px;
	margin:3px;
	line-height:150px;
	border:1px solid #C6D8EC;
	text-align:center;
	position:relative;
}
#piclist li div{
	position:absolute;
	top:5px;
	right:5px;
	line-height:15px;
}
#piclist li a{
	margin:0px 3px;
	line-height:15px;
	text-decoration:none;
	color:#263E74;
}
#piclist li a:hover{
	
	color:#F00;
}
#piclist li.hover {
	border:1px solid #efefef;
}
#piclist li.select{
	
	background:#f8e2e2;
}
#piclist li img{
	 vertical-align: middle;
	 max-height:150px;
	 max-width:150px;
}

.table_attr{
	margin-top:10px;
}

#productsList tr.error {
	background:#ffecec;
}