@charset "utf-8";
/*----------------------------------------
Name: reset.css
Date Created:2010/05/18 [xian.zhang]
Last Updated:2010/05/18 [xian.zhang]

----------------------------------------*/

html {
	color:#000;
	background:#FFF;
}
body {
	font-size:12px;
	line-height:1.3;
	font-family:"宋体", Arial, Verdana, sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset, img {
	border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal;
}
li {
	list-style:none;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
	font-variant:normal;
}
input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
input, textarea, select {
	*font-size:100%;
}
legend {
	color:#000;
}
del, ins {
	text-decoration:none;
}
select, input, button, textarea {
	font:99% Verdana, arial, helvetica, clean, sans-serif;
}

table {
	font-size:inherit;
	font:100%;
}
pre, code, kbd, samp, tt {
	font-family:monospace;
	*font-size:108%;
	line-height:100%;
}
sup,sub {
	vertical-align: baseline;
	position: relative;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix { display: inline-block; }
/* \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* */