/* CSS Document */
<!--
body{margin:0 auto;}
#main{
	background-repeat: no-repeat;
	background-image:url('images/site_title1.gif') no-repeat fixed;
	width: 1030px; 
	margin: 0pt auto; 
	padding-left:20px;
	
}
#Layer4 {
	margin-top:-90px;
	margin-left:310px;
	background-image:url(../images/site title/site-title2.gif) no-repeat;
}
body,td,th {
	font-family: 宋体;
	font-size: 14px;
}
.STYLE1 {color: #0000FF}
#Layer5 {
position:absolute;
	margin-top:-440px;
	margin-left:580px;
}
#Layer6 {

margin-top:-340px;
margin-left:30px;

}
#Layer7 {
	margin-top:-230px;
	margin-left:310px;
}

.STYLE3 {font-family: "华文行楷"}
.STYLE4 {font-size: 16px}
.STYLE5 {font-size: 16px; color: #0000FF; }
.STYLE6 {font-size: 16px; color: #0000FF; font-style: italic; }
.STYLE7 {font-size: 18px}
.STYLE13 {font-family: "宋体"; font-size: 16px;}
#Layer10 {
	margin-top:-80px;
	margin-left:380px;
}
#Layer12 {
margin-top:-40px;
	
}
#Layer13 {
margin-left:370px;
margin-top:25px;
}
.STYLE14 {font-style: italic}
#Layer14 {
margin-top:-215px;
}
#Layer15 {
margin-top:-52px;
}
.STYLE15 {font-style: italic; font-family: "华文行楷"; }
#footer {
	position:absolute;
	left:101px;
	top::1200px;
}
.STYLE16 {font-family: "华文行楷"; font-size: 24px; }


#body_right {
position:relative;
margin-left:300px;
margin-top:40px;
}
#main_left {

margin-left:90px;
margin-top:40px;
}>
