/** 导入基础CSS **/

@import url("layout/base.css");
@import url("base.css");
@import url("jqueryui/jqueryui.css");
@import url("artdialog.css");
@import url("table.css");

html, body {
	background-color:#E0EAF7;
}
.bodyClass {
	padding:5px;
}
/** 头部 **/
.heaber {
	background:url(../images/heaber_Bg.gif) repeat-x;
	background-position:0 -10px;
}
.heaber_top {
	height:30px;
	color:#7790c7;
	line-height:30px;
	text-align:right;
	padding-right:20px;
}
.heaber_top a{
	color:#c1d5ec;
}
.ui_heaber_nav {
	height:50px;
	overflow:hidden;
	margin-left:50px;
}
.ui_heaber_nav_item {
	float:left;
	height:50px;
}
.ui_heaber_nav_item a, .ui_heaber_nav_item span {
	display:block;
	float:left;
}
.ui_heaber_nav_item span {
	height:44px;
	margin-top:6px;
}
.ui_heaber_nav_item a {
	padding:0px 20px;
	text-indent:30px;
	background-position:10px 5px !important;
	line-height:40px;
	font-weight:bold;
	color:#FFF;
	font-size:14px;
}
.ui_heaber_nav_item a:hover {
	text-decoration:none;
}
.ui_heaber_nav_item_current, .ui_heaber_nav_item_current span {
	background:url(../images/heaber_nav_Bg.gif) no-repeat;
}
.ui_heaber_nav_item_current {
	background-position:0px 6px;
}
.ui_heaber_nav_item_current span {
	background-position:right -44px;
}
.ui_heaber_nav_item_current a {
	color:#0c3a86
}
/**  ======================================
右侧菜单

***/

.left_menu_accordion .ui-accordion-content {
	padding: .5em 1em;
}
.left_menu_accordion .ui-accordion-header a {
	font-weight:bold;
	color:#263e74;
}
.left_menu_accordion a:hover {
	text-decoration: none;
}
.left_menu_accordion .ui-accordion-header {
	border:1px solid #94b2d9;
	border-left:none;
	border-right:none;
	background:#c1d5ec;
}
.left_menu_accordion_menu_item {
	height:2em;
	line-height:2em;
	cursor: pointer;
	padding-left:1.5em;
	position: relative;
}
.left_menu_accordion_menu_item a {
	display:block;
	color:#263e74
}
.left_menu_accordion_menu_item .ui-icon {
	left: 0em;
	margin-top: -8px;
	position: absolute;
	top: 50%;
}
.left_menu_accordion_menu_item_current, .left_menu_accordion_menu_item_current a {
	background: url(../images/left_menu_accordion_liBg.gif) no-repeat;
}
.left_menu_accordion_menu_item_current {
	background-position:center left;
}
.left_menu_accordion_menu_item_current a {
	background-position:center right;
	color:#FFF;
}
/** 页面标题 **/
.bodyClass .topBut {
	border-bottom:1px solid #c6d8ec;
	margin:5px 0px;
	height:35px;
}
a.button {
	border-left: 1px solid #d2e0f2;
	border-right: 1px solid #d2e0f2;
	display: inline-block;
	vertical-align: middle;
	margin:0px 5px;
	cursor:hand;
	font-weight:bold;
}
a.button span {
	background: url(../images/ico/button/buttonBg.gif);
	color: #263E74;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	border-bottom: 1px solid #d2e0f2;
	border-top: 1px solid #d2e0f2;
	float: left;
	margin: -1px 0;
	position: relative;
}
a.button:hover {
	border-color:#182d5e;
	text-decoration:none;
}
a.button:hover span {
	border-color:#182d5e;
	background-position:0px -30px;
	background: -moz-linear-gradient(center top, #2d4782, #24407f) repeat scroll 0 0 transparent;
	color:#FFF
}

/** 分页 **/
.page{
	 float: right;
    margin-right: 20px;
	line-height: 22px;
	vertical-align: middle;
}
.page a,.page .current {
	background:#fff;
    border: 1px solid #C6D8EC;
    display: inline-block;
 
    line-height: 22px;
    padding: 0 7px;
	text-decoration:none;
	color:#7790C7;
}
.page a:hover {
	color: #263E74;
	
	 background: none repeat scroll 0 0 #efefef;
}
.page .current{
	color: #263E74;
    margin-right: 4px;
	 background: none repeat scroll 0 0 #efefef;
}