/* CSS Document */
<!--

#tSite{position:absolute;left:1100px;top:263px;width:%;height:%;z-index:1;}
#triangle-bottomright {width:0;height: 0;border-bottom:60px solid #C6A300;border-left:30px solid transparent;}
#ctFont{font-family: "»ªÎÄÖÐËÎ";font-size:18px;font-weight: bold;font-style:italic;color: #FFFFFF;text-align:center;line-height:46px} 
-->

