
/*网页属性*/
body,td,th {font-family: 宋体;font-size: 12px;color: #000000;}
a:hover{text-decoration:none;cursor:;color:;}
/*标题1定位*/
#bt1 {position:absolute;left:9px;top:5px;width:%;height:%;z-index:1;font-size:14px;color:#ffffff;font-weight:bold;}
/*标题2定位*/
#bt2 {position:absolute;left:5px;top:9px;width:%;height:%;z-index:1;font-size:14px;color:#ffffff;font-weight:bold;}
/*标题3定位*/
#bt3 {position:absolute;left:500px;top:5px;width:%;height:%;z-index:1;font-size:14px;color:#ffffff;font-weight:bold;}
/*标题4定位*/
#bt4 {position:absolute;left:120px;top:5px;width:%;height:%;z-index:1;font-size:14px;color:#ffffff;font-weight:bold;}
/*标题5定位*/
#bt5 {position:absolute;left:360px;top:5px;width:%;height:%;z-index:1;font-size:14px;color:#ffffff;font-weight:bold;}
/*标题6定位*/
#bt6 {position:absolute;left:0px;top:5px;width:%;height:%;z-index:1;font-size:14px;color:#ffffff;font-weight:bold;}
/*参赛作品目录按钮定位*/
#cszp1{position:absolute;left:0px;top:458px;width:285px;height:25px;z-index:1;font-size:14px;color:#000000;font-weight:bold;background: #96C2F1;border-top:2px solid #4A4AFF}
#cszp2{position:absolute;left:0px;top:458px;width:285px;height:25px;z-index:1;font-size:14px;color:#000000;font-weight:bold;background: #96C2F1;border-top:2px solid #4A4AFF}
#cszp3{position:absolute;left:0px;top:458px;width:285px;height:25px;z-index:1;font-size:14px;color:#000000;font-weight:bold;background: #96C2F1;border-top:2px solid #4A4AFF}
#cszp4{position:absolute;left:0px;top:458px;width:285px;height:25px;z-index:1;font-size:14px;color:#000000;font-weight:bold;background: #96C2F1;border-top:2px solid #4A4AFF}
#cszp5{position:absolute;left:0px;top:458px;width:285px;height:25px;z-index:1;font-size:14px;color:#000000;font-weight:bold;background: #96C2F1;border-top:2px solid #4A4AFF}
/*在线交流定位*/
#zxjl {position:absolute;left:3px;top:5px;width:%;height:%;z-index:1;font-size:14px;}
#zxjl a{text-decoration:none;cursor:pointer;color:#FF6600;font-weight:bold}
#zxjl a:hover{text-decoration:none; cursor:pointer;color:blue;font-weight:bold}
/*组织成员定位*/
#con_ml_1,#con_ml_2 {position:absolute;left:35px;top:5px;width:%;height:%;z-index:1;font-size:12px;color:#666;}
/*图文内容定位*/
#ag1,#ag2,#ag3,#ag4,#ag5{width:830px;border:0px solid orange;height:540px;margin-top:0px;margin-left:0px;overflow:hidden;}
/*图片内容定位*/
#ap1,#ap2,#ap3,#ap4,#ap5{width:822px;border:4px solid #d0d0d0;height:534px;margin-top:0px;margin-left:0px;overflow:hidden;}
/*幻片内容定位*/
#as1,#as2,#as3,#as4,#as5{width:830px;border:0px solid orange;height:540px;margin-top:0px;margin-left:0px;overflow:hidden;}
/*视频内容定位*/
#av1,#av2,#av3,#av4,#av5{width:672px;border:4px solid #d0d0d0;height:534px;margin-top:0px;margin-left:0px;overflow:hidden;}
/*视频文字定位*/
#aw1,#aw2,#aw3,#aw4,#aw5{position:absolute;left:680px;top:0px;width:144px;height:540px;z-index:1;border:1px solid #96C2F1;margin-top:0px;margin-left:3px;background-color:#fdfdfd;}
/*动画内容定位*/
#aa1,#aa2,#aa3,#aa4,#aa5{width:822px;border:4px solid #d0d0d0;height:534px;margin-top:0px;margin-left:0px;overflow:hidden;}
/*各类号码定位*/
#nb{width:820px;border:0px solid orange;height:13px;margin:0px;overflow:visible;position:relative;background-color:#B9B973;padding:5px}
/*显示顶部左侧挡板定位*/
#d1 {position:absolute;left:0px;top:1px;width:%;height:%;z-index:1;}
/*显示顶部右侧挡板定位*/
#d2 {position:absolute;left:625px;top:0px;width:%;height:%;z-index:1;}
/*显示左侧挡板定位*/
#d3 {position:absolute;left:0px;top:37px;width:5;height:%;z-index:1;}
/*li属性*/
li{ list-style-type:none;}
/*标题间距*/ 
p{margin:7px;}
/*比赛活动标题属性*/ 
.article {BORDER-BOTTOM:black 1px solid;BORDER-LEFT: black 1px solid;BORDER-RIGHT: black 1px solid;BORDER-TOP: black 1px solid; FILTER: revealTrans(transition=23,duration=0.5) blendTrans(duration=0.5);POSITION: absolute; VISIBILITY: hidden 
; background-color: #FFCC00; padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 3px;z-index:9}

.toptitle{
	width: 620px;
	}
.toptitle li{
	display: inline;
	width: 200px;
	display: inline;
   font-size: 16px;
   margin-right: 200px;
   width: 300px;
   font-weight: bolder;
}

.zhengfang , .xinyi ,.fanfang{
	width: 300px;
}

.zhengfang li,.fanfang li,.xinyi li{
	width: 150px;
	float: left;
}

