@charset "utf-8";
	* {
	margin:0;
	padding:0;
	list-style-type:none;
}
/* menubox */
.menulbg,.menurbg,div#bmenu,div#bmenu li {
	background-color:#3366FF;
}
.menubox {
	width:568px;
	height:53px;
	padding:0 12px;
	margin:0 auto;
}
.menulbg,.menurbg {
	height:53px;
	width:12px;
	overflow:hidden;
	display:inline;
}
.menulbg {
	float:left;
	margin:0 0 0 -12px;
	background-position:0 0;
}
.menurbg {
	float:right;
	margin:0 -12px 0 0;
	background-position:100% -106px;
}
div#bmenu {
	float:left;
	width:730px;
	height:100%;
	z-index:999;
}
div#bmenu>div {

	height:100%;
	float:left;
}
div#bmenu ul {
	float:left;
}
div#bmenu li {
	position:relative;
	margin:0;
	padding:0 12px 0 0;
	_padding-right:5px;
	display:block;
	float:left;
	z-index:9;
	margin-right: 1px;
	width:130px;
}
div#bmenu li.last {
	background:none;
}
div#bmenu li div {
	list-style:none;
	float:left;
	position:absolute;
	z-index:11;
	visibility:hidden;
	width:194px;
	margin:0;
	top:20px;
	background-color:#CCCCCC;
}
div#bmenu li div ul {
	padding:20px 0 3px 0;
}
div#bmenu li:hover>div {
	visibility:visible;
}
div#bmenu a {
	padding:0;
	position:relative;
	z-index:10;
	display:block;
	float:left;
	text-transform:uppercase;
	text-decoration:none;
	
	color:#fff;
	margin:0 0 0 -4px;
	white-space:nowrap;
	width:141px;
	text-align:center;
	
}
div#bmenu span {
	display:block;
	cursor:pointer;
	margin-top:0;
	padding-left:0;
	font-size:16px;
	text-align:center;
	color:#fff;
}
div#bmenu a:hover,div#bmenu a:hover span,div#bmenu li.hover a,div#bmenu li.hover a span {
	background:#000 url(../images/selected-left-with-bg.gif) no-repeat;
}
div#bmenu a:hover,div#bmenu li.hover a {
	background-position:left 0;
	text-indent:-56px;
}
div#bmenu a:hover span,div#bmenu li.hover a span {
	background-position:right 0;
	margin-left:56px;
	color:#fff;
}
div#bmenu li.hover ul a,div#bmenu li.hover ul a span {
	background:none;
	text-indent:0;
}
div#bmenu li.hover ul a span,div#bmenu li.hover ul a:hover span {
	margin-left:0;
}
/* div#bmenu ul.menu>li:hover */
div#bmenu ul.menu>li:hover>a,div#bmenu ul.menu>li:hover>a span {
	background:#000 url(../images/selected-with-bg.png) no-repeat;
}
div#bmenu ul.menu>li:hover>a {
	background-position:left 0;
	text-indent:-56px;
}
div#bmenu ul.menu>li:hover>a span {
	background-position:right 0;
	margin-left:56px;
}
/*div#bmenu.js-active li.current a,div#bmenu.js-active li.current a span,*/
div#bmenu.js-active ul.menu li:hover>a,div#bmenu.js-active ul.menu li:hover>a span {
	background:none;
}
div#bmenu.js-active ul.menu a:hover,div#bmenu.js-active ul.menu a:hover span {
	background:none;
}
div#bmenu ul ul a {
	padding:0 0 0 12px;
	float:none;
	display:block;
	height:auto;
	line-height:26px;
	font-size:18px;
	color:#fff;
	z-index:-1;
	white-space:normal;
	width:198px;
	margin-left:7px;
	text-transform:none;
}
div#bmenu ul ul a:hover {
	background:#1f1f1f;
	text-indent:0;
}
div#bmenu ul ul a:hover span {
	background:none;
	margin-left:0;
}
div#bmenu ul ul a.parent {
	background:url(../images/submenu-pointer-bottom.png) no-repeat 5px bottom;
	_background-image:url(../images/submenu-pointer-bottom.gif);
}
div#bmenu ul ul a.parent:hover {
	background:#1f1f1f url(../images/mouseover-submenu-pointer-bottom.png) no-repeat 5px bottom;
	_background-image:url(../images/ie-mouseover-submenu-pointer-bottom.png);
}
div#bmenu ul ul a.parent:hover span {
	background:none;
}
div#bmenu ul ul span {
	margin-top:0;
	text-align:left;
}
div#bmenu ul div {
	width:237px;
	padding-top:0;
}
div#bmenu ul div ul {
	width:237px;
}
div#bmenu ul ul div {
	top:-12px;
	left:0;
	margin-left:210px;
	padding-top:12px;

}
div#bmenu ul ul div ul {
	padding-top:10px;
	
}
div#bmenu ul ul li {
	background:none;
	padding:0;
	z-index:9;
	position:relative;
	top:-10px;
	width:100%;
}
div#bmenu ul ul li.last {
	background:none;
}
div#bmenu ul ul ul li {
	top:-10px;
}
/* lava lamp */
div#bmenu li.back {
	background:url(../images/selected-left.png) no-repeat 0 0;
	_background-image:url(../images/ie-selected-left.png);
	width:71px;
	height:39px;
	z-index:8;
	position:absolute;
	padding:0;
	margin:0;
}
div#bmenu li.back .left {
	padding:0;
	width:74px;
	background:url(../images/selected-right.png) no-repeat right 0;
	_background-image:url(../images/ie-selected-right.png);
	height:39px;
	margin:0 0 0 56px;
	float:none;
	position:relative;
	top:0;
	left:0;
	visibility:visible;
}
