/* CSS Document */
<!--
#left{position:absolute;left:0px;top:0px;width:100%;height:100%;z-index:3;padding:15px;overflow:hidden;word-wrap:break-word;word-break:break:all;font-size:;line-height:40px;}
#middle{width:100%;height:95px;} 
.name{font-family:"»ªÎÄÐÐ¿¬";font-weight:bold;font-style:italic;font-size:50px;color:#ccc;}
.url{font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;color: #ccc;}
#right{position:absolute;left:900px;top:17px;width:100%;height:100%;z-index:3;} 
-->

